*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fc5d66;
    --secondary-color: #ffc05a;
    --light-color: #f9fafb;
    --dark-color: #272d35;
    --black: #000000;
    --navbar-scroll: rgba(255, 77, 85, .8)
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Utility */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    border: 1px solid var(--secondary-color);
    padding: 1.3rem 2.3rem;
    border-radius: 32px;
    color: var(--dark-color);
    background: var(--secondary-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-wrap: nowrap;

}

.btn:hover {
    color: var(--light-color);
    background: var(--primary-color);
    border: var(--primary-color);
}


/* text classes */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1.75rem;
    background-color: var(--light-color);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .3);

}

/* Navbar */

.navbar {
    background-color: transparent;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 800;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}


.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: auto;
    height: 100px;
    filter: drop-shadow(10px 8px 9px #befe00e7);
    object-fit: cover;
    display: block;
    border-radius: 30px;

}

.navbar a {
    color: #f9fafb;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.navbar .main-menu-list {
    display: flex;
    gap: 3rem;
    /* background-color: red; */
    align-items: center;
    font-weight: 600;
}

.navbar i {
    font-size: 1.5rem;
}

.navbar.navbar-scroll {
    background-color: var(--navbar-scroll);
    backdrop-filter: blur(10px);
}

/* Hero */
.hero {
    background: var(--black) url(images/header-background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11.5rem 2rem 8rem;
    overflow-x: hidden;
    position: relative;

}

.hero-flex {
    display: flex;
    color: var(--light-color);
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    padding-bottom: 13rem;
}

.hero-content h1 {
    line-height: 1.2;
    /* background-color: #87fc5d; */
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 3.5rem;

}

.hero-content p {
    line-height: 1.8;
    font-weight: 800;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}


.hero-flex img {
    width: 100%;
    margin-right: -100px;
}



.hero .frame-decoration {
    position: absolute;
    /* top: 0; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

/* Mobile menu */

.mobile-menu {
    display: none;
}

.mobile-menu-toggle {
    color: #fff;
    cursor: pointer;

}

.mobile-menu-items {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 100%;
    height: 100vh;
    width: 100%;
    opacity: .95;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);

    transition: transform 0.3s ease;

}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}



.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}


.section {
    margin: 4rem 0;

}

.chapter-cards h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
}

/* Section Header */

.section-header {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}

.section-header p {
    font-size: 1.2rem;
    color: var(--dark-color);

}

.heading-border {
    width: 64px;
    height: 4px;
    background: var(--primary-color);
    margin: 0 auto 2rem;

}

/* learn topics  */
.topics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.topic img {
    transition: transform 0.3s;
}

.topic img:hover {
    transform: scale(1.1);
}


/* Chapter Cards */
.chapter-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem 0 4rem;

}

.chapter-cards img {
    width: 130px;
    margin-top: 1rem;
}

/* Info section */

.info-container {
    /* background: url(images/audience.jpg) no-repeat;
    background-position: top center;
    background-size: cover; */
    background: url(images/audience.jpg) top center/cover no-repeat;
    display: flex;
}

.info-content {
    background-color: var(--primary-color);
    color: #fff;
    flex: 1;
    padding: 4rem;

}

.info-left {
    width: 50%;
}


.info-content h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.info-content ul li {
    font-size: 1.2rem;
    line-height: 2rem;
}

.info-content i {
    color: var(--secondary-color);
    margin-right: .5rem;

}

/* Takeaways */
.takeaways-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1.5rem;
}

.takeaways-cards .card {
    flex-direction: row;
    text-align: left;
}

.takeaways-cards .card i {
    margin-right: 1rem;
}

/* Summary */
.summary {
    background: var(--light-color);
    color: var(--dark-color);
    padding: 4rem 2rem 5rem;

}

.section-lists {
    background: #fff;
    padding: 2rem;

}

.summary .list-header {
    background: var(--primary-color);
    color: #fff;
    padding: 0.5rem, 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;


}

.summary .list-item {
    padding: 1.4rem 0;
    border-bottom: 1px solid #f1f4f6;
}


.summary .list-item:last-child {
    border-bottom: none;

}


/* Details */
.details .details-flex {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}


.details img {
    width: 100%;
    max-width: 500px;
}

.details h2 {
    font-size: 2rem;
    font-weight: 700;
}

.details .heading-border {

    margin: 0;
}

.details p {
    margin: 1rem 0 2rem;
}


.details ul {
    margin-bottom: 2rem;
}

.details li {
    line-height: 2rem;
}

.details i {
    margin-right: .5rem;
}

/* Author */
.details+.details .details-flex {
    flex-direction: row-reverse;
}



/* stats */
.stats {
    background: var(--black) url(images/header-background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11.5rem 2rem 8rem;
    overflow-x: hidden;
    position: relative;

}

.stats-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 4rem 2rem;
}

.stats-flex img {
    width: 100%;
    max-width: 500px;


}

.stats-content {
    max-width: 500px;
}

.stats-numbers {
    color: #fff;
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.stats-numbers h3 {
    font-size: 3rem;
    font-weight: 700;
}

.stats-text {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.stats-numbers p {
    font-size: .8rem;

}

/* Newsletter */
.newsletter-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    border: 1px solid #eee;
    gap: 1rem;
    padding: 4rem 2rem;

}


.newsletter {
    text-align: center;
    margin: 0 2rem;
}

.newsletter-flex h2 {
    font-size: 2rem;
    font-weight: 700;
}

.newsletter p {
    max-width: 500px;
}

.newsletter input[type="email"] {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 32px;
    padding: 1rem 2rem;
    margin: 1rem 0;

}

/* Media query */

@media(max-width:1200px) {
    .hero .hero-flex {
        gap: 2rem;
    }

    .hero img {
        max-width: 500px;
        margin-right: 0;
    }

    .topics {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:1054px) {
    .main-menu-items {
        display: none;
    }

    .navbar .mobile-menu {
        display: block;
    }

    .navbar .mobile-menu-toggle {
        display: block;
        padding: 10px;

    }

    .hero {
        text-align: center;
    }

    .hero-flex {
        flex-direction: column;
        padding-bottom: 4rem;
    }

    .hero img {
        max-width: 600px;
        margin-top: 2rem;
    }

    .topics {
        grid-template-columns: repeat(2, 1fr);
    }

    .chapter-cards, .takeaways-cards {
        grid-template-columns: 1fr;
    }

    .details-flex,
    .details+.details .details-flex,
    .stats .stats-flex {
        flex-direction: column;
        gap: 2rem;
    }


}

@media(max-width:768px) {
    .info-container {
        flex-direction: column;
    }

    .info-content {
        padding: 2rem;
    }

    .info-content h2 {
        font-size: 1.5rem;

    }

    .info-content p {
        font-size: 1rem;
    }

    .info-left {
        display: none;
    }
}

@media(max-width:576px) {
    .hero {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .topics {
        grid-template-columns: 1fr;
    }

    .summary .container {
        padding: 0;
    }

    .stats .stats-numbers {
        flex-direction: column;
    }

    .newsletter h2 {
        font-size: 1.5rem;
    }

    .newsletter p {
        display: none;
    }
}